// Specific CSS for your home-page

.website-presentation {
  padding: 20px 25px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: $grey;
  border: white;
  width: 495px;
  // position: relative;
  // top: 25px;
  height: 540px;


  h1{
    color: black;
    font-family: 'Lora';
    box-shadow: none;
    text-align: center;
    padding-bottom: 35px;
    font-size: 32px;
    border-bottom: solid rgb(109, 109, 109) 1px;
    margin-bottom: 20px;
  }

  img{
    width: 42px;
    height: 40px;
    margin-right: 25px;
  }

  p {
    padding: 20px 10px;
    font-size: 15px;
    color: black;
  }

}

.homepage-presentation{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
