<div class="container">
  <div class="recap_title">
    <h1>Voici ce que vous avez sélectionné : </h1>
  </div>

  <div class="card_recap">
    <div class="card_recap_titles">
      <h2>Transports</h2>
      <h2>Commerces</h2>
      <h2>Loisirs</h2>
      <h2>Santé</h2>
    </div>

    <div class="card_cards">
      <div class="card_recap_category_card">
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Bus</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>V-Lille</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Metro</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Tramway</p>
      </div>
      <div class="card_recap_category_card">
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Supermarché</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>École</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Aire de jeux</p>

      </div>
      <div class="card_recap_category_card">
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
         <p>Bibliothèque</p>
         <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
         <p>Piscine</p>
         <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
         <p>Musée</p>
         <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
         <p>Parc</p>
         <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
         <p>Cinéma</p>

      </div>
      <div class="card_recap_category_card">
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Pharmacie</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Hôpital</p>
        <img src="https://img2.freepng.fr/20180401/aue/kisspng-urban-park-recreation-computer-icons-walton-commun-park-5ac1a2c0148d76.2248610215226395520842.jpg" alt="Parc icon">
        <p>Vétérinaire</p>

      </div>
    </div>
    Précédent
    Suivant
  </div>

<%= @params %>
</div>
