<div class="container">
  <div class="recap_title">
    <h1>Voici ce que vous avez sélectionné : </h1>
  </div>

  <div class="card_recap">
    <div class="card_recap_titles">
      <h2>Transports</h2>
      <h2>Commerces</h2>
      <h2>Loisirs</h2>
      <h2>Santé</h2>
    </div>

    <div class="card_cards">
      <div class="card_recap_category_card">
        Carte One
      </div>
      <div class="card_recap_category_card">
        Carte Two
      </div>
      <div class="card_recap_category_card">
        Carte Three
      </div>
      <div class="card_recap_category_card">
        Carte Four
      </div>
    </div>
    Précédent
    Suivant
  </div>

<%= @params %>
</div>
