<h1>Hello from districts index</h1>


<div class="container-district">

  <h3>Vos quartiers</h3>

  <div class="cards-districts">
    <% @districts.each do |district| %>
      <div class="card-district">
        <a href="#"></a>
        <div class="image-district">
          <img src="<%= district.image %>" alt="">
        </div>
        <h4><%= district.name %></h4>
        <p><%= district.description %></p>
        <div class="districts-poi">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="">
    <button>Cartes des quartiers</button>
  </div>
</div>
