.carousel-item{
  height: 190px;
  background-repeat: no-repeat;
  background-size: cover;


}

.carousel {
  // position: relative;
  // top: -495px;
  // left: 570px;
  width: 720px;
  padding-bottom: 20px;

}

.title-carousel {
  text-align: center;

}

.carousel-caption{
  top:50%;
  transform: translateY(-50%);
  bottom:initial;

  h1{
    font-family: 'Lora';
  }
}

button{
  height: 190px;
}

.carousel-map{

  p{
    margin-bottom: 5px;
  }
}
