.card-price-district {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: center;

  & > .button-search-house {
    right: -3%;
    position: absolute;
  }
}
