.form-category {

  display: flex;
  justify-content: center;
  text-align: center;

  h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bolder;
    padding: 0px;
  }
}

.card-category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 0px;

  .type{
    padding: 30px;
    width: 180px;
    height: 160px;
    border: 1px solid #dedede;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    justify-content: center;

  }
}

.card-page {
  padding: 15px;
  margin: 25px 0;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: $grey;
  border: white;
  position: relative;
}
