.container-form-price-district {
  display: flex;
  justify-content: center;
  position: relative;
}

.search_price {
  display: flex;
  align-items: center;
  justify-content: center;
  // position: relative;
  height: 375px;
  width: 1337px;
  // left: 10%;
  transform: translateY(-13%);

  & > h4 {
    position: absolute;
    z-index: 1;
    left: 19%;
    bottom: 67%;
    font-family: 'Lora';
  }
}

.card-price-district {
  position: absolute;
  padding: 15px 130px;
  margin: 25px 0;
  border-radius: 10px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: $grey;
  border: white;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: center;
  width: 70%;
  column-gap: 4em;

  & > .button-search-house {
    right: -11%;
    position: absolute;
    background-color: #417D7A;
    border-radius: 5px;
    width: 197px;
    padding: 25px;
    text-align: center;
    border: none;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);;
  }

  & > .card-superficie-district, .card-rooms-district, .card-min-price, .card-max-price {
    display: flex;
    align-items: center;

    & > div {
      padding: 10px;
    }
  }


}

.min-price-tag, .max-price-tag {
  // right: 80%;
  // position: absolute;

  & > abbr {
    display: none;
  }
}

.search_price_nombre_de_pièces, .search_price_min, .search_price_max, .search_price_superficie {
  text-align: start;
}

// .number-of-rooms-input {
//   width: 79%;
// }
