.recap_title {
  text-align: center;
  padding-top: 36px;

  h1 {
    font-weight: bold;
    font-family: 'Lora';
  }
}
.card_recap {
  padding-top: 15px 130px;
  margin: 35px 0;
  border-radius: 10px;
  box-shadow: 1px 3px 3px RGB(0 0 0 / 20%);
  background-color: #F7F7F7;
  border: white;

  .card_recap_titles {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    height: 44px;
    width: 100%;
    justify-content: space-around;
    color: $medium-green;
    padding: 12px;
    margin: 10px 0px;

    h2 {
      width: 20%;
      margin: 0 24px;
      font-weight: bold;
      font-family: 'Lora';
    }

  }
  .card_cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }



  .card_recap_category_card {
    background-color: white;
    border: rgb(125, 125, 125) 1px solid;
    border-radius: 10px;
    height: 450px;
    width: 20%;
    padding: 40px;
    margin: 8px 24px;
    display: inline-grid;
    flex-wrap: wrap;
    text-align: center;

    i {
      width:44px;
      height: 40px;
      justify-self: center;
    }

    p {
      text-align: center;
      color: $medium-green;
      font-weight: 300;
    }
  }

  .card_recap_buttons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 16px;

    button {
    bottom: 10px;
    left: 44%;
    background-color: $medium-green;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    padding: 8px;
    border: none;
    color: white;
    }

    a {
      bottom: 10px;
      left: 44%;
      background-color: $medium-green;
      border-radius: 5px;
      width: 140px;
      text-align: center;
      padding: 8px;
      border: none;
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }

  }
}

.present{
  color: $medium-green;

  .fa-2x{
    font-size: 18px;
    padding: 10px;
  }
}


.priority-ranking{
  margin-top: 10px;
  padding: 10px;
  min-width: 400px;
  border-radius: 4px;
  p{
    margin-bottom: 0;
  }
}

.icone-ranking{
  margin-top: 10px;
  padding: 10px;
  min-width: 400px;
  border-radius: 4px;
  p{
    margin-bottom: 0;
  }
}


.icone-ranking1{
  flex-direction: row;
  display: flex;
  padding: 10px;
}

.priority-ranking1 {
  flex-direction: row;
  display: flex;
  padding: 10px;
}
