.footer {
  background: $dark-green;
  position:relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin-top: 42px;
  text-align: center;
  height: 50px;

  .list-inline li {
    color: $white;
    text-align: center;
    display: inline-block;
    padding-top: 8px;
  }

  a {
    color: $white;
    font-size: 20px;
    padding: 0px 10px;
    text-align: center;
  }

  a:hover {
    color: grey;
  }
}

.container-min-height {
  min-height: 79vh;
}
