.form-category {
  display: none;
}

.form-category.active {
  display: initial;
}

.form-button {
  display: none;
}

.form-button.active {
  display: initial;
}

#find_district.disable {
  display: none;
}

.website-presentation.disable {
  display: none;
}

// code pour la progress bar

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  right: -30%;
}

.progress-container::before {
  content: "";
  background-color: $medium-green;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 25%;
  z-index: -1;
}

.progress-bar {
  background-color: $dark-green;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -2;
  transition: 0.4s ease;
}

.form-circle-bar {
  background-color: $light-green;
  // color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 3px solid;
  transition: .4s ease;
  z-index: 1;
}

.form-circle-bar.active {
  border-color:  $medium-green;
  background-color: $medium-green;
}

#progress-bar {
  position: absolute;
  font-size: 2rem;
  width: 100%;
}


// progress[value] {
//   width: 250px;
//   height: 16px;
//   z-index: -2;
// }

// progress[value] {
//   -webkit-appearance: none;
//   appearance: none;
// }

// progress[value]::-webkit-progress-bar {
//   background-color: "green";
// }
