.modal_house {
width: 70%;
background-color: $white;
position: fixed;
top: 20px;
bottom: 20px;
left: 15%;
right: 15%;
border-radius: 10px;
box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
border: white;
height: auto;
border-right: solid $grey;
overflow: hidden;
padding: 18px;

  .modal_house_img img {
    padding: 8px;
    height: 407px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .modal_house_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .modal_house_infos {
    padding: 8px;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    }

    button {
      display: end;
    }
  }
}

.modal_house_infos-1{

  img{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    opacity: 0.3;
  }
}

.modal_house_infos-2 {

  img{
    width: 120px;
    height: 26px;
  }

  p{
    text-align: right;
    font-size: 18px;
  }
}

#cross {
  position: absolute;
  top: 10px;
  right: 20px;
  border: black solid 2px;
  border-radius: 50%;
  width: 26px;
  text-align: center;
  background-color: rgba(230, 229, 229, 0.9);
}
